torch
transformers
datasets
huggingface_hub
scikit-learn
pandas
numpy
tqdm
evaluate
accelerate
sentencepiece
peft
PyPDF2
faiss-cpu
sentence-transformers
fastapi
python-multipart
boto3
groq
python-dotenv
uvicorn